$main-theme-color: #343a40;
$grid-gutter-width: 30px !default;
// WRAPPERS & CONTAINERS
.wrapper {
    max-width: 500px;
    margin: 0 auto;
}

// GLOBAL STYLES
body {
    background-color: black;
}

// button {
//     margin: 0 1rem;
// }
// NAVBAR
nav {
    margin-bottom: 3.0rem;
}

#currentLocationBtn {
    display: inline-block;
    width: 100%;
    color: white;
}

.nav__search {
    display: inline-block;
    width: 70%
}

.nav__search-btn {
    display:inline-block;
    width: 29%;
}

.toggle-handle {
    background-color: white;
}

.toggle.btn {
        display: inline-block;
        height: 1.25rem;
        min-width: 120px;
}

// MAIN CONTENT
.card {
    margin: 2.5vh 2.5%;
}

.main-results {
    font-size: 150%;
    color: white;
    text-shadow: 0.1rem 0.1rem 0 gray;
}

.icon {
    width: 5rem;
    height: 5rem;
}

// MODIFIERS
.opacity {
    opacity: 0.7;
}

.center {
    text-align: center;
}

.font-larger {
    font-size: 300%;
}
