.wrapper {
  max-width: 500px;
  margin: 0 auto; }

body {
  background-color: black; }

nav {
  margin-bottom: 3.0rem; }

.nav__search {
  width: 70%; }

.card {
  margin: 2.5vh 2.5%; }

.main-results {
  font-size: 150%;
  color: white;
  text-shadow: 0.1rem 0.1rem 0 gray; }

.icon {
  width: 5rem;
  height: 5rem; }

.opacity {
  opacity: 0.7; }

.center {
  text-align: center; }

.font-larger {
  font-size: 300%; }
